<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block menu_1 %}
    <h4>
        <table>
            <tr>
                <td>
                    <a href="http://127.0.0.1:5000">Главная</a>
                </td>
                <td>
                    <a href="http://127.0.0.1:5000/login">Логин</a>
                </td>
                <td>
                    <a href="http://127.0.0.1:5000/register">Регистрация</a>
                </td>
                <td>
                    <a href="http://127.0.0.1:5000/logout">Выход</a>
                </td>
                <td>
                    <a href="http://127.0.0.1:8000/products">Продукция</a>
                </td>
            </tr>
        </table>
    </h4>
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <br>
    <a href="http://127.0.0.1:5000/register">Впервые здесь?</a>
{% endblock %}

</body>
</html>