{% extends "glavn.html" %}

{% block content %}
<h1>Введите логин и пароль</h1>
    <form action="login" method="post">
        <p>
            Логин:
            <br>
            <input type="text" name="login" placeholder="Введите свой логин" required>
        </p>
        <p>
            Пароль:
            <br>
            <input type="password" name="password" placeholder="Введите свой пароль" required>
        </p>
        <button type="submit">Войти</button>
    </form>
    <p>
        <a href="#">Не помните пароль?</a>
    </p>
{% endblock %}